In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv("/kaggle/input/social-network-ads/Social_Network_Ads.csv")

In [3]:
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [4]:
df=df.iloc[:,2:]

In [5]:
df.sample(5)

     Age  EstimatedSalary  Purchased
27    47            30000          1
57    28            79000          0
300   58            38000          1
185   31            66000          0
87    28            85000          0

# **Train Test split**

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
X_train,X_test,Y_train,Y_test=train_test_split(df.drop('Purchased',axis=1),
                                              df['Purchased'],
                                              test_size=0.3,
                                              random_state=0)

In [8]:
X_train.shape,X_test.shape

((280, 2), (120, 2))

# **StandardScaler**